.search-input {
    padding: 8px;
    border: 2px solid #808080;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
  }
  
  .search-btn { 
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4E75FF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 86px;
  }
  
  .search-btn:hover {
    background-color: #6C8CFF;
  }
  
  .search-btn:hover {
    border-color: #000000;
  }
  
  .search-btn:focus {
    border-color: #808080;
  }
  

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #303030;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
  }
  
  .loader.is-active {
    display: block;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
  .js-loader {
    display: none;
  }
  
  .js-loader.is-active {
    display: block;
    text-align: center;
    margin: 10px;
  }
  
  .gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
  }
  
  .gallery-card {
    width: calc(25% - 20px);
  }
  
  .gallery-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
  }
  