/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./back-link.css');
@import url('./animations.css');

@import url('flatpickr/dist/flatpickr.min.css'); 
@import url('izitoast/dist/css/iziToast.min.css');
@import url('./timer.css');
