body{
  background-color: rgb(98, 157, 165);
  color: #000;
}


input{
  border-radius: 5px;
  border-color: #000;
}


button{
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 180, 199);
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
}

a{
  font-weight: 700; 
}

a:hover{
  color: aliceblue;
  font-weight: 400; 
 }
 
.timer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 50px auto;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  min-width: 80px;
  position: relative;
}
 
.field:not(:last-child)::after {
  content: ":";
  font-size: 48px;
  position: absolute;
  right: -10px;
  top: 30px;
  transform: translateY(-50%);
} 

.value {
  font-size: 48px;
  font-weight: bold;
}

.label {
  font-size: 11px;
  margin-top: -10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}